.pages
  .about
    .container
      %h1.text-center Gallery - Los Angeles
      %p This application now in testing stage. All photos published for demonstration purposes.
      %p Estimated release: 1-9 july, before my trip in Los Angeles. The source code of this app will be published in the same days
      %p
        Used technologies:
        %ul
          %li Ruby on Rails
          %li PostgreSQL
          %li Redis (Sidekiq)
          %li Twitter Bootstrap
          %li Google Maps
          %li Disqus
          %li Nginx
      %p.text-center
        %em Nikita Ignatovich