.pages
  .about
    .container
      %h1.text-center Gallery - Los Angeles
      %p This application now in production stage.
      %p 
        Github page of this project: 
        %a{href: 'https://github.com/cannyfoxx/gallery'}https://github.com/cannyfoxx/gallery
      %p
        Used technologies:
        %ul
          %li Ruby on Rails
          %li PostgreSQL
          %li Redis (Sidekiq)
          %li Twitter Bootstrap
          %li Google Maps
          %li Disqus
          %li Nginx
      %p.text-center
        %em Nikita Ignatovich